section{
    width: 88%;
    margin: auto;
}
.user-container{
padding:20px;
color:white;
}

.form-section{
background:#111;
padding:20px;
border-radius:10px;
}

.table-section{
background:#111;
padding:20px;
border-radius:10px;
}

.actions button{
margin-right:5px;
}


