<div class="sidebar" [class.expanded]="isExpanded">

    <!-- TOP -->
    <div class="top">
        <i class="bi bi-bell-fill icon"></i>
        <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
    </div>

    <ul class="menu">
        <li routerLink="/Dashboard">
            <i class="bi bi-globe icon"></i>
            <span class="text">Estadisticas Generales</span>
        </li>

       

        <li>
            <i class="bi bi-bar-chart icon"></i>
            <span class="text">Tabla posiciones</span>
        </li>

        <li>
            <i class="bi bi-calendar icon"></i>
            <span class="text">Consulta partidos</span>
        </li>

        <li>
            <i class="bi bi-broadcast icon"></i>
            <span class="text">En vivo</span>
        </li>

        <li>
            <i class="bi bi-pencil-square icon"></i>
            <span class="text">Eventos en vivo</span>
        </li>

        <!-- PREDICCIONES -->
        <li (click)="toggleSub('pred')">
            <i class="bi bi-robot icon"></i>
            <span class="text">Predicciones <i class="bi bi-caret-down-fill"></i></span>
        </li>

        <ul *ngIf="subMenu.pred" class="submenu">
            <li>Ganador partido</li>
            <li>Campeón torneo</li>
            <li>Explicación</li>
        </ul>

         <!-- CONFIG -->
        <li (click)="toggleSub('config')">
            <i class="bi bi-gear icon"></i>
            <span class="text">Configuración <i class="bi bi-caret-down-fill"></i> </span>
        </li>

        <ul *ngIf="subMenu.config" class="submenu">
            <li routerLink="/Register_UserConfig">Registro de usuarios</li>
            <li>Gestión de roles</li>
            <li>Registro de equipos</li>
            <li>Registro de partidos</li>
            <li>Registro de resultados oficiales</li>
        </ul>

        <li (click)="Salir()">
            <i class="bi bi-door-open icon"></i>
            <span class="text">Cerrar sesion</span>
        </li>

    </ul>

</div>